/* 通用属性 内外边距为0 */
*{
    margin:0;
    padding:0;
}
 /* 背景颜色设为黑色 */
body{
    background-color: #817a7a;
    font-family: arial,sans-serif;
    font-size: 25px;
    font-style: normal;
}
.header{
    background-color: #222222;
    height: 50px;
    width: 100%;
    padding: relative;
    position: relative;
}
div{
    display: block;
}
li,ul,a,div{
    border: 0;
    list-style: none;
}
a{
    color: #f0ebeb;
    text-decoration: none;
    cursor: auto;
}
 
.hd-bar-logo{
    width: 134px;
    height: 30px;
    float: left;
    padding-right:1px;
      
}
.hd-bar-nav{
    height: 70px;
    float: right;
}
.hd-bar-nav li{
    height: 70px;
    float: left;
    margin-right: 20px;
}
.hd-bar-nav li *{
    color: #dadada;
    font-size: 25px;
    display: inline-block;
    line-height: 22px;
    vertical-align: top;
}
.hd-bar-nav{
    height: 25px;
    line-height: 22px;
    padding: 25px 17px;
}

.hd-bar-nav li a:hover{
    background-color: #817a7a;
}
.box{
    width: 1000px;
    height: 10px;
    margin: 0 50px auto;
  }

ul{
    list-style: none;
}

.box{
    background-color:#eeeeee;
    width: 100%;
    height:1600px;
    margin: 0 auto;
}
.list-box{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-bottom:1px solid #ddd;

}
.list{
    float: right;
    padding-top: 10px;
}
.list-box ul li{
    cursor:pointer;
    width:30px;
    height: 30px;
    float: left;
    display: block;
    background: url("../img/bottom.jpg")
}
.pic-info{
    height: 250px;
    width: 250px;
}
.changelist .list-1-0{
    height: 240px;
    width: 240px;
    border: 1px solid #aaaaaa;
    float: left;
    /* 边距大小 */
    margin-left: 40px;
    margin-bottom: 40px;
}
.changelist .list-2-v{
    height: 290px;
    width: 100%;
   background: #aaaaaa;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}